.ejercicios{
    font-size: 25px;
}

.container1{
    display:flex; 
    flex-direction: column;
    align-items: end;
    height: 800px;
}

.container2{
    display: flex; 
    flex-direction: row-reverse;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.container3{
    display: flex; 
    justify-content:space-between;
    
}


.red{
display: flex;
background-color: red;
font-size: 50px;
color: white;
height: 200px;
width: 200px;
justify-content: center;
align-items: center;
}

.blue{
display: flex;
background-color: blue;
font-size: 50px;
color: white;
height: 200px;
width: 200px;
justify-content: center;
align-items: center;
}

.green{
display: flex;
background-color: green;
font-size: 50px;
color: white;
height: 200px;
width: 200px;
justify-content: center;
align-items: center;
}